#container {
  display: flex;
  align-items: flex-start; 
  background-color: #eff0f1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.input-bot{

  text-align: center;
  margin-left: 200px;
}

.input-bot {
  display: flex; 
  align-items: center; 
}


.input-bot input {
  width: 140px; 
  padding: 10px; 
  border: 2px solid #007BFF; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px; 

}

.input-bot button {

  margin-left: 3px;
}
.input-bot input,
.input-bot button {
  margin-right: 20px; 

}


#profile-image img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 

}

.texto {
  font-family:Verdana, Geneva, Tahoma, sans-serif}

.input-container {
  display: flex;
  align-items: center;
  width: 30px;
}

.texto div {
  margin-bottom: 20px; 
}

#prueba {
  background-color: #007BFF;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#prueba:hover {
  background-color: #b2d8e8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.text1{

  font-size: 60px;
  font-family:serif;
}


.cuadrobuscador{
  text-align: center;


}
.cuadro2 {
  
  background-color: #6dc0ff; 
  border: 3px solid #4e7fb4; 
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  padding: 30px;
  text-align: left;
  font-family: 'Georgia', serif;
  width: 600px;
  margin-left: 100px auto;
  height: 300px; 
  display: flex; 
  align-items: center; 


    border-width: 8px; 
    border-color: #236cbb; 
    border-style: double; 

}

#cprofile-image {
  margin-right: 20px; 
}

.cuadro1 {
  
  background-color: rgb(231, 240, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 50px;
  text-align: left;
  font-family: 'Georgia', serif;
  width: 700px;
  margin: 20px auto;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  
}

/* Estilo para el botón Consultar */
#prueba {
  background-color: #14e9f4;
  color: #406a6d;
  border-color: #8aa3be;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#prueba:hover {
  background-color: #b2d8e8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}